body {
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 900;
  margin-bottom: 1em;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  display: block;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 3rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.container--narrow {
  max-width: 34rem;
}

.bg-light {
  background-color: antiquewhite;
  color: black;
}
.bg-dark {
  background-color: rgb(27, 24, 24);
  color: white;
}
.bg-accent {
  background-color: rgb(77, 29, 29);
  color: white;
}
