body {
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: rgb(194, 44, 44);
  line-height: 1;
  font-weight: 900;
  margin-bottom: 1em;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 4rem 0;
  margin-inline: auto;
  width: min(90%, 70.5rem);
  border: 2px solid black;
}

@media (min-width: 40em) {
  header,
  section {
    padding: 7rem 0;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

.container--narrow {
  max-width: 34rem;
}

.bg-light {
  background-color: antiquewhite;
  color: black;
}
.bg-dark {
  background-color: rgb(27, 24, 24);
  color: white;
}
.bg-accent {
  background-color: rgb(117, 45, 45);
  color: white;
}
